<style>
  @import url(http://fonts.googleapis.com/css?family=Roboto);
  @import url(http://fonts.googleapis.com/css?family=Poppins);
</style>
<body style="margin: 0">
  <section style="margin: 0 auto 3rem auto; background: #FFFFFF; box-shadow: 0px 15px 30px rgba(194, 194, 194, 0.3); border-radius: 24px; max-width: 500px; padding: 52px; text-align: center">
    <h1 style="font-family: Poppins; font-style: italic; font-weight: 800; font-size: 48px; line-height: 100%; letter-spacing: 0.18px; width: 100%; margin: 0 0 1rem 0">Welcome<br/> to ALUXION&trade;</h1>
    <p style="font-family: Roboto; font-size: 16px; line-height: 140%; letter-spacing: 0.25px"><b>Hi, -name- !</b> We’re excited to have you get started. First, you need to confirm your account, just press the button below.</p>
    <a href="-link-" style="padding: 10px 16px; color: #FFFFFF; background: #940EA3; border-radius: 8px; font-family: Poppins; font-weight: 600; font-size: 16px; line-height: 22px; letter-spacing: 0.5px; margin: 2rem 0; border: none">Activate account</a>
    <p style="font-family: Roboto; font-size: 16px; line-height: 140%; letter-spacing: 0.25px; margin-bottom: 2rem">If you have any questions, just reply to this email — we’re always happy to help out.</p>
    <p style="font-family: Roboto; font-size: 16px; line-height: 140%; letter-spacing: 0.25px; margin: 0"><b>Cheers,</b></p>
    <p style="font-family: Roboto; font-size: 16px; line-height: 140%; letter-spacing: 0.25px; margin: 0"><b>The ALUXION™ Team</b></p>
  </section>
</body>